*{
	margin: 0;
	padding: 0;
	font-family: Lucida Console;
}

header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../1.jpg);
	height: 150vh;
	background-size: cover;
	background-position: center;
}
html{
	font-size: 62.5%;
}



ul{
	font-size: 2rem;
	float: right;
	list-style-type: none;
	margin-top: 3rem;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration-color: none;
	color: #fff;
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.main{
	max-width: 1200rem;
	margin: auto;
}
.title{
	position: absolute;
	top: 3%;
	left: 2%;
	transform: translate(-3%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;

}

.title h1{
	color: #fff;
	font-size: 5rem;
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;

}

.bu h2{
	color: #fff;
	font-size: 2.5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top:15%;
	left: 45%;
	transform: translate(-2%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
}

.hobbies h3{
	color: #fff;
	font-size: 5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top: 55%;
	left: 18%;
	transform: translate(-20%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
}

.hobbies h4{
	color: #fff;
	font-size: 2.5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top:65%;
	left: 18%;
	transform: translate(-20%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
}

.r{
	position: absolute;
	top: 18rem;
	left: 1.5rem;
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
}

.gallery h5{
	color: #fff;
	font-size: 5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top: 80%;
	left: 18%;
	transform: translate(-20%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;

}
@media(max-width:1024px){
	html{
		font-size: 25%;
	}
}
@media(max-hight:768px){
	html{
		font-size: 35%;
	}
}
.fr{
	color: #fff;
	font-size: 5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top: 90%;
	left: 18%;
	transform: translate(-20%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;
}
.b{
	color: #fff;
	font-size: 5rem;
	font-family: Comic Sans MS;
	position: absolute;
	top: 115%;
	left: 30%;
	transform: translate(-20%,-2%);
	padding: 0.5rem 2rem;
	border: 0.1rem solid transparent;

}